<%- include('../partials/head') %>
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
        <option value="Delta">Delta</option>
        <option value="American">American</option>
        <option value="United">United</option>
      </select>
  </label><br>
  <label>Flight Number:
    <input type="number" name="flightNo">
  </label><br>
  <label>Departs:
        <input type="datetime-local" name="departs">
  </label><br>
  <input type="submit" value='Add Flight' class='submitBtn'>
</form>
<h1><%= err %></h1>
<%- include('../partials/footer') %>